bin
chromedriver
chromedriver.log
phantomjsdriver.log
apache-tomcat*
gnarus_all.*
.DS_Store
target
gnarus-ws.pem
rebel.xml
rebel-remote.xml
*.class
src/main/webapp/WEB-INF/classes
src/main/webapp/images/avatars/temp/*
logs/
latest_snapshot.sql
bin/recover_db.sh
.history
lib/*
!lib/local
!lib/deploy
src/main/webapp/WEB-INF/lib/*
jetty.log
.ant-targets-build.xml
git.txt
